# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2025 Texas Instruments Incorporated - https://www.ti.com/
#

if TARGET_AM62X_R5_POCKETBEAGLE2 || TARGET_AM62X_A53_POCKETBEAGLE2

config SYS_BOARD
       default "pocketbeagle2"

config SYS_VENDOR
       default "beagle"

config SYS_CONFIG_NAME
       default "pocketbeagle2"

source "board/ti/common/Kconfig"

endif

if TARGET_AM62X_R5_POCKETBEAGLE2

config SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

endif
