// SPDX-License-Identifier: GPL-2.0
/*
 * AM625 SK dts file for SPLs
 * Copyright (C) 2021-2022 Texas Instruments Incorporated - https://www.ti.com/
 */

#include "k3-am62x-sk-common-u-boot.dtsi"

&main_rgmii2_pins_default {
	u-boot,dm-spl;
};

&cpsw3g_phy1 {
	u-boot,dm-spl;
};

&ospi0 {
	u-boot,dm-spl;

	flash@0 {
		u-boot,dm-spl;

		partitions {
			u-boot,dm-spl;

			partition@3fc0000 {
				u-boot,dm-spl;
			};
		};
	};
};
