CONFIG_VIDEO=n
CONFIG_SYS_WHITE_ON_BLACK=n
CONFIG_SPL_VIDEO_TIDSS=n
CONFIG_VIDEO_BMP_GZIP=n
CONFIG_BMP=n
CONFIG_BMP_24BPP=n
CONFIG_BMP_32BPP=n
CONFIG_SPL_VIDEO=n
CONFIG_SPL_SPLASH_SCREEN=n
CONFIG_SPL_SYS_WHITE_ON_BLACK=n
CONFIG_SPL_SPLASH_SCREEN_ALIGN=n
CONFIG_SPL_SPLASH_SOURCE=n
CONFIG_SPL_VIDEO_BMP_GZIP=n
CONFIG_SPL_BMP_24BPP=n
CONFIG_SPL_BMP_32BPP=n
CONFIG_SPL_HIDE_LOGO_VERSION=n
CONFIG_SPL_GZIP=n
CONFIG_CMD_BMP=n
CONFIG_CMD_BLOBLIST=n
CONFIG_SPL_BMP=n
CONFIG_SYS_SPL_MALLOC=n
CONFIG_SPL_BOARD_INIT=n
CONFIG_SPL_SYS_REPORT_STACK_F_USAGE=n
CONFIG_SPL_BSS_START_ADDR=0x80a00000
CONFIG_BLOBLIST=n
# CONFIG_SPL_SIZE_LIMIT is not set
# CONFIG_SPL_SIZE_LIMIT_PROVIDE_STACK is not set
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x80480000
