# CONFIG_DM_GPIO is not set
# CONFIG_SPL_SPI is not set
# CONFIG_DMA is not set
# CONFIG_TI_K3_NAVSS_UDMA is not set
# CONFIG_MMC_HS400_SUPPORT is not set
# CONFIG_MMC_HS200_SUPPORT is not set
# CONFIG_MMC_SDHCI is not set
# CONFIG_MMC_SDHCI_ADMA is not set
# CONFIG_SPL_MMC_SDHCI_ADMA is not set
# CONFIG_MMC_SDHCI_AM654 is not set
# CONFIG_MTD is not set
# CONFIG_DM_MTD is not set
# CONFIG_SPI_FLASH is not set
# CONFIG_TI_K3_NAVSS_RINGACC is not set
# CONFIG_TI_PRUSS is not set
# CONFIG_SPI is not set
CONFIG_SPL_ENV_SUPPORT=y
CONFIG_SPL_ENV_IS_NOWHERE=y
CONFIG_SYSCON=y
CONFIG_SPL_SYSCON=y
CONFIG_USB=y
CONFIG_SPL_USB_HOST=y
CONFIG_SPL_USB_STORAGE=y
CONFIG_USB_HOST=y
CONFIG_USB_STORAGE=y
CONFIG_SPL_USB_GADGET=y
CONFIG_DM_USB=y
CONFIG_SPL_DM_USB=y
CONFIG_DM_USB_GADGET=y
CONFIG_SPL_DM_USB_GADGET=y
CONFIG_USB_HOST=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_GADGET=y
CONFIG_USB_DWC3_GENERIC=y
CONFIG_SPL_USB_DWC3_GENERIC=y
CONFIG_SPL_USB_DWC3_AM62=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_MANUFACTURER="Texas Instruments"
CONFIG_USB_GADGET_VENDOR_NUM=0x0451
CONFIG_USB_GADGET_PRODUCT_NUM=0x6165
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_FS_FAT_MAX_CLUSTSIZE=16384
